.bg-image{
    background-image: url("podcasts-bg.png");
    background-size: cover;
    height: 50vh;
    width:100vw;
    padding: 20px;
    color:white;
}
.head-1{
    padding: 20px;
    text-align: center;
}
h1{
    font-size: 20px;
}
.bg-image2{
    background-color: #151765;
    color:white
}
.head-2{
 padding: 10px;
}
h1{
    font-size: 20px;
}
p{
    font-size:12px;
}
h3{
    font-size: 15px;
    color:#151765;
}
h5{
    font-size: 12px;
}
h6{
    font-size: 10px;
}
.head-3{
    padding: 10px;
}
.btt{
    text-align: right;
    padding: 10px;
}
.bt1{
    border-radius: 15px;
    background-color: #151765;
    color: white;
}
.h1{
    color:#151765;
    font-size: 20px;
}